[Unit]
Description=UDMA CRC Error Check Service
After=network.target syno-bootup-done.target
Wants=network.target

[Service]
Type=oneshot
User=root
EnvironmentFile=/etc/udma-check.env
ExecStart=/bin/bash /volume1/scripts/check_udma_crc.sh ${BOT_TOKEN} ${CHAT_ID}
StandardOutput=journal
StandardError=journal
RemainAfterExit=no
